@use "mixins";
@use "breakpoints";

.booking-page-container {
  height: 100dvh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}

.booking-content {
  text-align: center;
  padding-top: var(--header-height);
  height: 100%;
}
  /* Desktop background */
  @include mixins.respond-above(md) {
    .booking-content {
      margin: 0 auto;
      padding-top: calc(var(--header-height) + 2rem);
    }
    .booking-page-container {
      background-image: url('/backgrounds/bookingBgDesktop.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-color: transparent; 
    }
  }


@include mixins.respond-below(md) {
.booking-content h2 {
  font-family: var(--font-calistoga), serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: whitesmoke;
  }

.booking-content p {
  font-family: var(--font-titillium-web), sans-serif;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #d0d0d0; 
  font-weight: 400;
}

.booking-content a {
  color: #f44336; 
  text-decoration: none;
  font-weight: 600;
}

.booking-content a:hover {
  text-decoration: underline;
}


.booking-content h2 {
  @include mixins.respond-below(md) {
    margin-top: 0rem;
  }
}
}
