@use "mixins";
@use "breakpoints";


.privacy-policy-container {
  padding-top: calc(var(--header-height) + 2rem); 
  padding-bottom: 4rem; 
  padding-left: clamp(1rem, 5vw, 4rem); // Standard horizontal padding
  padding-right: clamp(1rem, 5vw, 4rem); // Standard horizontal padding
  margin: 0 auto; 
  background-color: #1f1f1f; 
  color: #e0e0e0; 
  font-family: var(--font-titillium-web), sans-serif;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.privacy-policy-container h3 { 
  font-family: var(--font-titillium-web), sans-serif;
  font-size: clamp(1.3rem, 1rem + 1vw, 1.8rem); 
  font-weight: 600;
  margin-top: 1rem; 
  margin-bottom: 1.2rem; 
  color: whitesmoke; 
}

.privacy-policy-container p { 
  font-family: var(--font-titillium-web), sans-serif;
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.15rem); 
  line-height: 1.7;
  margin-bottom: 1rem;
}