:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  flex: 1;
  text-align: center;
  width: 100%;
  /* background: linear-gradient(to bottom, #c0b9a7, #fdf4e3); */
  background-color: #f9f9f9;
}
header {
  position: sticky;
  top: 0;
  background-color: rgba(3 3 3);
  -webkit-box-shadow: 20px -109px 96px 91px rgb(9 9 9 / 75%);
  -moz-box-shadow: 20px -109px 96px 91px rgb(9 9 9 / 75%);
  box-shadow: 20px -130px 96px 91px rgb(9 9 9 / 70%);
  width: 100%;
  z-index: 1;
}
.logo-container {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 1;
  top: 0;
  justify-content: center;
}
.logo {
  position: absolute;
  top: 0;
  height: 7rem;
  margin: auto;
  object-fit: contain;
}
nav ul {
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding: 1.2rem 0;
}
.nav-items {
  display: flex;
  width: 100%;
}
.nav-item-row {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
nav ul li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
a {
  display: flex;
  font-weight: 500;
  text-decoration: inherit;
  color: #e5e3e3;
  font-size: 1.2rem;
}
a:hover {
  color: #ffffff;
}
.header1 {
  display: block;
  line-height: 1.25;
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header2 {
  display: block;
  line-height: 1.25;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#home {
  scroll-padding-top: 15vh;
}
h1 {
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
  color: white;
  font-family: "Calistoga";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
h1 span {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  color: white;
  font-family: "Calistoga";
  top: 50%;
  left: 50%;
}
h2,
h3 {
  color: #040404;
  display: block;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Calistoga", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 5rem;
}
.bandfoto-container {
  background-color: black;
  width: 80vw;
  box-shadow: 0 0 100vh rgba(0, 0, 0, 0.5);
  display: flex;
  position: relative;
  margin: 4rem auto;
  border: 0.16rem outset rgba(82, 81, 81, 0.8);
  margin-bottom: 2rem;
}
.bandfoto {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Calistoga";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.foto {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}
#bio {
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-family: "Titillium Web";
  font-size: 1.3rem;
  line-height: 1.25;
  color: #040404;
}
#bio p {
  padding: 3vh 6vw 1vh 6vw;
}
#music {
  font-family: "Calistoga";
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 26vh;
}
#myProgress {
  background-color: #d9d9f2;
  cursor: pointer;
  border-radius: 10px;
}
#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffc266;
  border-radius: 10px;
}
.btn-action {
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}
.btn-ctn,
.infos-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn {
  padding-top: 20px;
}
.btn-ctn > div {
  padding: 5px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.infos-ctn > div {
  margin-bottom: 8px;
  color: #f9f9f9;
}
.first-btn {
  margin-left: 3px;
}
.duration {
  margin-left: 10px;
}
.title {
  margin-left: 10px;
  width: 210px;
  text-align: center;
}
.player-ctn {
  position: absolute;
  border-radius: 15px;
  background-color: rgba(196, 192, 192, 0.4);
  color: #f9f9f9;
  margin: 0 auto;
  box-shadow: 0px 0px 12px 3px rgb(9 9 9 / 31%);
  overflow: hidden;
  bottom: 0vh;
  margin-bottom: 1rem;
}
.playlist-track-ctn {
  display: flex;
  background-color: #767373;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.playlist-track-ctn > div {
  margin: 10px;
}
.playlist-info-track {
  width: 80%;
}
.playlist-info-track,
.playlist-duration {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #f9f9f9;
  font-size: 14px;
  pointer-events: none;
}
.playlist-ctn {
  padding-bottom: 20px;
  display: none;
}
.active-track {
  background: #4d4d4d;
  color: #f9f9f9 !important;
  font-weight: bold;
}
.active-track > .playlist-info-track,
.active-track > .playlist-duration,
.active-track > .playlist-btn-play {
  color: #2f2626 !important;
}
.playlist-btn-play {
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
#myProgress {
  width: 100%;
}
.fas {
  color: white;
  font-size: 20px;
}
.showplayerbtn {
  display: none;
  position: relative;
  font-family: "Calistoga";
  text-align: right;
  background-color: rgba(171, 164, 164, 0.2);
  border-radius: 2rem;
  border: 0.1rem outset gray;
  cursor: pointer;
  color: #333333;
  box-shadow: 0px 2px 7px rgb(9 9 9 / 32%);
  height: 5vh;
}
.showplayerbtn:hover {
  background-color: rgba(94, 90, 90, 0.2);
}
.showplayerbtn p {
  bottom: 0.5vh;
  display: inline-block;
  font-size: 1.1rem;
  position: relative;
  background-color: rgba(171, 164, 164, 0);
}
.playlist-track-ctn {
  display: none;
}
#concerts {
  color: #000000;
  border-radius: 1vh;
  padding-top: 5rem;
  scroll-margin-top: 8vh;
}
table {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  border-radius: 100px;
  max-width: 75%;
  margin: 0 auto;
  background-color: transparent;
  margin-bottom: 20vh;
  box-shadow: 14px 5px -3px rgb(9 9 9 / 8%);
}
td,
th {
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 0.5rem;
  text-align: left;
  background-color: transparent;
}
tr {
  box-shadow: 0px 4px 2px -1px rgb(9 9 9 / 4%);
}
.button-container {
  display: flex;
  justify-content: center;
}
.follow-button {
  background-color: #9d2f3a;
  color: #f9f9f9;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center;
}
.follow-button:hover {
  background-color: rgb(164, 86, 86);
}
button {
  background-color: black;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.footer-content p {
  color: white;
}
.footer-content button {
  justify-content: center;
}
.rotate {
  animation: rotate 2s infinite ease;
}
.material-symbols-outlined {
  display: flex;
  right: 2vw;
  top: 1vh;
  justify-content: right;
  cursor: pointer;
  position: relative;
}
.material-symbols-outlined.music {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 0vh;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@media (max-width: 1024px) {
  .bandfoto-container {
    width: 90vw;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 796px) {
  .logo {
    width: 13vw;
    height: 15vh;
  }
}
@media screen and (max-width: 425px) {
  .showplayerbtn {
    display: inline-block;
  }
  .player-ctn {
    min-width: 89vw;
    position: fixed;
    display: none;
    background-color: rgba(171, 164, 164, 0.9);
  }
  #myprogress {
    width: 89vw;
  }
  h1 {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 426px) {
  .showplayerbtn {
    display: none;
  }
  .material-symbols-outlined {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    padding-top: 8rem;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .player-ctn {
    min-width: 30vw;
    max-width: 40vw;
    min-height: 10vh;
    max-height: 15vh;
  }
  h1 {
    padding-top: 14rem;
    font-size: 6rem;
  }
}
@media screen and (min-width: 2560px) {
  .player-ctn {
    min-width: 20vw;
    max-width: 43vw;
    min-height: 6vh;
    max-height: 8vh;
  }
  h1 {
    padding-top: 40rem;
    font-size: 11rem;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    padding-top: 2rem;
    font-size: 1rem;
  }
}
